In [2]:
from pathlib import Path
import pandas as pd
import numpy as np
from statannot import add_stat_annotation

In [3]:
exp_dir = Path(Path.home(), "Documents/xray/sample_bench/data/7mhf/182_bench")

analysis_df = pd.read_csv(Path(exp_dir, "ref_10000.csv"), index_col=0)
analysis_df.head()

,r_free,ff,rmsd,pdb,w_0,cif_name,n,N,j,J,cifs,out_dir_id,w_1
0,0.346140,1870.373890,0.384637,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,0,1,0,15,NaN
1,0.358511,1292.931845,0.390810,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,0,1,0,12,NaN
2,0.366099,1839.115028,0.395618,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,0,1,0,23,NaN
3,0.355507,1989.817184,0.372687,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,0,1,0,14,NaN
4,0.365261,1287.725983,0.380059,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,0,1,0,28,NaN

In [6]:
best_rows = list()
for N_id in list(range(2)):
    for job_id in list(range(20)):
        subset_df = analysis_df[(analysis_df["n"] == N_id) & (analysis_df["j"] == job_id) & (analysis_df["cif_name"] == 0)]
        best_row = subset_df[subset_df["r_free"] == subset_df["r_free"].min()]
        # print(N_id, job_id)

        best_rows.append(best_row)

summary_df = pd.concat(best_rows)
summary_df.to_csv(Path(exp_dir, "summary.csv"), index=False)
summary_df.head()

,r_free,ff,rmsd,pdb,w_0,cif_name,n,N,j,J,cifs,out_dir_id,w_1
195,0.340532,1740.839558,0.376931,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,0,1,0,197,NaN
366,0.374582,9022.913545,0.616274,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,1,2,"0,1",152,NaN
690,0.217708,2420.009292,0.991914,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,2,1,0,10,NaN
926,0.205500,4426.224745,0.989098,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,3,2,"0,1",68,NaN
1143,0.312844,1694.051222,0.830559,/wynton/group/sali/mhancock/xray/sample_bench/...,1.0,0,0,1,4,1,0,3,NaN

In [18]:
delta_1s = list()
delta_2s = list()

for i in range(10):
    js = [i*2, i*2+1]

    row_n1_J1 = summary_df[(summary_df["n"] == 0) & (summary_df["j"] == js[0])]
    r_free_n1_J1 = row_n1_J1.iloc[0]["r_free"]
    row_n1_J2 = summary_df[(summary_df["n"] == 0) & (summary_df["j"] == js[1])]
    r_free_n1_J2 = row_n1_J2.iloc[0]["r_free"]
    row_n2_J1 = summary_df[(summary_df["n"] == 1) & (summary_df["j"] == js[0])]
    r_free_n2_J1 = row_n2_J1.iloc[0]["r_free"]
    row_n2_J2 = summary_df[(summary_df["n"] == 1) & (summary_df["j"] == js[1])]
    r_free_n2_J2 = row_n2_J2.iloc[0]["r_free"]

    delta_1 = r_free_n1_J2-r_free_n1_J1
    delta_2 = r_free_n2_J2-r_free_n1_J2

    delta_1s.append(delta_1)
    delta_2s.append(delta_2)

    print(i, js ,r_free_n1_J1, r_free_n1_J2, r_free_n2_J1, r_free_n2_J2)
    # print(delta_1, delta_2)

print(np.mean(delta_1s), np.mean(delta_2s))
print(np.min(delta_1s), np.min(delta_2s))

0 [0, 1] 0.3405320342739747 0.3745816413377191 0.2379337084502244 0.2120831713453705
1 [2, 3] 0.2177083120178769 0.2054995544501466 0.1879320581047003 0.1911629203192716
2 [4, 5] 0.3128435768339557 0.2764349655246217 0.2505093844098904 0.2010876277020043
3 [6, 7] 0.3161388776491562 0.2707973144669584 0.2589448540145137 0.2152095505474097
4 [8, 9] 0.2732937295653176 0.2525158709543422 0.2274738525380771 0.2095729741851108
5 [10, 11] 0.190130781182855 0.2023701042377789 0.1957436507980586 0.1744613866945158
6 [12, 13] 0.3349052363796784 0.2920755878703454 0.2445634406465654 0.3534046561371781
7 [14, 15] 0.2785063309098497 0.2627675055177926 0.2356068721715625 0.331600284163482
8 [16, 17] 0.3003261504944199 0.2724192812686184 0.2594191116684772 0.3453082571122545
9 [18, 19] 0.2200856477871974 0.2121699960195565 0.1989409775838664 0.1961452702958935
-0.016283885544640178 -0.019159572314538905
-0.045341563182197786 -0.1624984699923486