In [51]:
from pathlib import Path
import pandas as pd

import IMP
import IMP.atom

In [52]:
sel = IMP.atom.AndPDBSelector(IMP.atom.NonWaterNonHydrogenPDBSelector(), IMP.atom.NonAlternativePDBSelector())
pdb_file = Path(Path.home(), "Documents/xray/sample_bench/data/7mhf/166_N1/summary_15/7mhh_N8.pdb")
m = IMP.Model()
hs = IMP.atom.read_multimodel_pdb(str(pdb_file), m, sel)

ref_pdb_file = Path(Path.home(), "Documents/xray/data/pdbs/7mhf/7mhh.pdb")
ref_m = IMP.Model()
ref_h = IMP.atom.read_pdb(str(ref_pdb_file), ref_m, sel)

begin read_pdb:
  WARNING  Could not determine CHARMM atom type for atom "HET: S  " in residue #401 "DMS"
  WARNING  Could not determine CHARMM atom type for atom "HET: O  " in residue #401 "DMS"
  WARNING  Could not determine CHARMM atom type for atom "HET: C1 " in residue #401 "DMS"
  WARNING  Could not determine CHARMM atom type for atom "HET: C2 " in residue #401 "DMS"
  WARNING  Could not determine CHARMM atom type for atom "HET:ZN  " in residue #403 "ZN"
end read_pdb

In [44]:
rmsd_df = pd.DataFrame(index=list(range(1,307)),columns=["rmsd", "aa"])
rmsd_df = rmsd_df.fillna(0)
for res in range(1,307):

    ref_sel = IMP.atom.Selection(ref_h, residue_index=res)
    ref_pids = ref_sel.get_selected_particle_indexes()
    ref_xyzs = [IMP.core.XYZ(ref_m, pid) for pid in ref_pids]

    at = IMP.atom.Atom(ref_m, ref_pids[0])
    rmsd_df.loc[res, "aa"] = str(IMP.atom.get_residue(at).get_residue_type())

    for h in hs:
        sel = IMP.atom.Selection(h, residue_index=res)
        pids = sel.get_selected_particle_indexes()
        xyzs = [IMP.core.XYZ(m, pid) for pid in pids]

        # print(res, IMP.atom.get_rmsd(ref_xyzs, xyzs))
        rmsd_df.loc[res, "rmsd"] = rmsd_df.loc[res, "rmsd"] + IMP.atom.get_rmsd(ref_xyzs, xyzs)
        # rmsd_df.loc[res, "rmsd"] = 1

    # print(len(pids), len(ref_pids))

/var/folders/x2/ss4b83151c31mg5h31tlp3ym0000gn/T/ipykernel_45950/2648126695.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  rmsd_df = rmsd_df.fillna(0)
/var/folders/x2/ss4b83151c31mg5h31tlp3ym0000gn/T/ipykernel_45950/2648126695.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '"SER"' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rmsd_df.loc[res, "aa"] = str(IMP.atom.get_residue(at).get_residue_type())
/var/folders/x2/ss4b83151c31mg5h31tlp3ym0000gn/T/ipykernel_45950/2648126695.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.3365451426696667' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  rmsd_df.loc[res, "rmsd"] = rmsd_df.loc[res, "rmsd"] + IMP.atom.get_rmsd(ref_xyzs, xyzs)

In [45]:
rmsd_df.tail()

          rmsd     aa
302  19.248564  "GLY"
303  21.727897  "VAL"
304  20.046529  "THR"
305  23.721804  "PHE"
306  26.512449  "GLN"

In [50]:
rmsd_df.nsmallest(30, "rmsd")

          rmsd     aa
206   7.353240  "ALA"
39    8.078529  "PRO"
204   8.542660  "VAL"
173   8.789976  "ALA"
174   8.867592  "GLY"
124   9.028602  "GLY"
42    9.116586  "VAL"
145   9.123165  "CYS"
112   9.464632  "PHE"
116   9.521543  "ALA"
200   9.525616  "ILE"
161   9.557780  "TYR"
291   9.573240  "PHE"
114   9.579860  "VAL"
9     9.596727  "PRO"
149   9.621212  "GLY"
150   9.735572  "PHE"
111   9.747368  "THR"
139   9.780843  "SER"
148   9.836214  "VAL"
147   9.973023  "SER"
136  10.010226  "ILE"
36   10.104602  "VAL"
117  10.134112  "CYS"
38   10.135384  "CYS"
175  10.173241  "THR"
7    10.694992  "ALA"
146  10.705422  "GLY"
29   10.849319  "GLY"
203  10.990812  "ASN"